#pragma once

const char* WIFI_SSID  = "your_ssid";
const char* WIFI_PASS  = "your_password";
const char* WIFI_SSID2 = "your_ssid2";
const char* WIFI_PASS2 = "your_password2";
const char* OTA_PASS   = "your_ota_password";
